

::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-track {
  background: #967db1; 
}

::-webkit-scrollbar-thumb {
  background: #1d1330; 
} 

::-webkit-scrollbar-thumb:hover {
  background: #2f0553; 
}